@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #93eefa;
}
.container {
  padding: 1rem;
}
h1 {
  text-align: center;
  margin: 1rem;
}

form {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin: 5rem auto;
  box-shadow: 0px 0px 10px #ddd;
}

form.login-register {
  width: min(100%, 400px);
}

input[type="text"],
input[type="email"],
input[type="password"], 
textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  margin: 0.5rem 0;
  background-color: #4caf50;
  color: white;
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
}
button:hover {
  background-color: #45a049;
}
.register-login-now {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

/****************** DASHBOARD *******************/
.navbar {
  background-color: #0a4d68;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  color: #fff;
  font-size: 1.5rem;
}
.left {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}
.left .link {
  margin-left: 2rem;
}
.right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link {
  color: #93eefa;
  text-decoration: none;
}
.link:hover {
  color: dodgerblue;
}

.bug-status-chart {
  display: flex;
  justify-content: center;
}

.bug-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}
.bug-card {
  width: 300px;
  padding: 0.5rem;
  background-color: #FDEC8B;
}
.bug-card p {
  margin: 0.4rem 0;
}


p.createdBy, p.createdAt {
  font-size: 0.8rem;
}
p.createdAt {
  margin-top: 2rem;
}
p.bugTitle {
  margin: 1rem 0;
}
span.title {
  color: red;
}
/********************* ADD FORM ***************/

#add-form {
  width: min(100%, 600px);
  margin: 5rem auto;
}

#bug-description {
  display: block;
  width: 100%;
  height: 5rem;
}

select {
  margin-left: 1rem;
  padding: 0.2rem;
  font-size: 0.9rem;
}

.separator {
  margin: 0.8rem 0;
}

